#imgColor{
    background-color: black;
    border: 5px solid white;
    min-height: 100px;
    min-width: 200px;
}

#listaColores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}